.middleBox:before {
    content: '';
    background: inherit;
    position: absolute;
    left: -25px;
    right: 0;
    top: -25px;
    bottom: 0;
    filter: blur(3px);
}

.img-bg {
    background-position-x: center;
}